<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <partial name="AdminLTE/_Styles" />
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <partial name="AdminLTE/_TopNavigation" />

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0">@ViewData["Title"]</h1>
                        </div>
                    </div><!-- /.row -->
                </div><!-- /.container-fluid -->
            </div>
            <!-- /.content-header -->
            <!-- Main content -->
            <section class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </section><!-- /.container-fluid -->
        </div>
        <!-- /.content-wrapper -->
        
        <partial name="AdminLTE/_Footer" />
        <partial name="AdminLTE/_Scripts" />
        <partial name="AdminLTE/_Notification" />
        @await RenderSectionAsync("Scripts", required: false)
    </div>
</body>
</html>

